.container {
    max-width: 1200px;
    margin: auto;
}
.movie-description {
    padding: 0px 20px 20px;
    background-color:#2f2f2f;
    &__title {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        background-color:#1c1c1c;
        margin-bottom: 30px;
        padding: 15px 10px;
    }
    &__overview {
        color: #e5e5e5;
        font-size: 16px;
        line-height: 24px;
    }
    &__body {
        display: flex;
        flex-direction: column;
    }
    &__poster {
        display: flex;
        padding-bottom: 20px;
        gap: 20px;
    }
   
}
.info-movie {
    padding: 0px 15px 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
}
.info-movie * {
padding: 10px 5px;
}
.info-movie div:nth-child(odd) {
background-color: #252525;
}


@media (max-width:1200px) {
    .movie-description {
        &__poster {
            flex-direction: column;
        }
        &__image {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
        }
    }
}
@media (max-width:576px) {
    .movie-description {
        &__image {
            img {
                max-width: 100%;
            }
        }
    }
    .info-movie * {
        gap: 5px;
        display: flex;
        flex-direction: column;
    }
}