.navbar {
    background-color: #252525;
    color: #e5e5e5;
    &__title {
        background-color: #2fad68;
        padding: 15px 5px;
        color: #fff;
        font-weight: 700;
        text-align: center;
        font-size: 20px;
        margin: -10px -15px 30px; 
    }
    &__subtitle {
        padding: 10px 5px;
        color: #2fad68;
        background-color: #2f2f2f;
    }
    &__search input {
        padding: 10px 5px;
        font-size: 14px;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
    &__search form {
        position: relative;
    }
    &__search button{
        background-color: #fff;
        position: absolute;
        top: 5px;
        right: 0px;
    }
    &__year input {
        padding: 10px 5px;
        font-size: 14px;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
    &__year form {
        position: relative;
    }
    &__year button{
        background-color: #fff;
        position: absolute;
        top: 5px;
        right: 0px;
    }
  
    &__genre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
  }
  .genre {
    &__item{
        padding: 10px 5px;
        cursor: pointer;
    }
    &__item:hover{
        background-color:#2f2f2f;
    }
    &__item_active {
        background-color: #2f2f2f;
    }
    
  }

  @media(max-width:1200px) {
    .navbar {
        font-size: 18px;
    }
    .genre__item {
        text-align: center;
    }
  }