
.actor {
    &__avatar img {
        height: 200px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__name {
        font-size: 18px;
        color: #e5e5e5;

    }
    &__role {
        font-size: 18px;
        color: #e5e5e5;
    }
}

