*{
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 12px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.main {
  background-color: #d1d1d1;
}
.movies {
  &__container {
      max-width: 1230px;
      margin: auto;
      display: grid;
      grid-template-columns: minmax(900px, 1fr) 1fr;
      padding: 30px 15px 10px;
      background-color: #aeaeae;
      position: relative;
      min-height: 100vh;
}

&__items {
  display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 30px;
      flex: 0 1 80%;
      margin-bottom: 20px;
  }
&__navbar {
      padding: 10px 15px;
      flex: 0 1 20%
}
}
.pagination {
  padding:30px 15px;
  display:flex;
  justify-content: center;
  gap:30px;
  &__page {
    font-size: 28px;
  }
  &__button {
    padding: 10px 15px;

  }
}
.spinner {
  padding-top: 200px;
}